label {
  display: inline-block;
  width: 250px;
  margin-top: 4vh;
  font-size: 20px;
}

input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
}

input:valid+span:after {
    content: '✓';
    padding-left: 5px;
}
